#table-general-cont{
    display: flex;
    flex-direction: column;
}
.table-entry-warning{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    padding: 10%;
    color: rgb(87, 87, 87);
    user-select: none;
}
.new-entry-div{
    display: grid;
    grid-template-columns: 20fr 1fr;
    width: 95%;
    padding: 20px 0px;
    padding-bottom: 4px;
    align-self: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color:#ebeeef;
    position: sticky;
    top: 132px;
    background-color: #eceff1;

    z-index: 100;
}

.new-entry-table{
    width: 100%;
    border-spacing: 10px 0px;
    margin-bottom: 1%;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.new-entry-div > button{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
.new-entry-alert{
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}
.new-entry-table > tr{

}

.new-entry-table th{

}
.new-entry-desig{
    display: grid;
    grid-template-columns: 3fr 65px;
  
}
.desig-add-input{
    width: 100%;
}
.newEntryBtn{
    width: 64px;
    height: 56px;

}

.desig-settings-btn{
    cursor: pointer;
    border: none;
    background: none;
}
/* desig menu */

#desig-menu-cont{
    position: absolute;
    top: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 100%;
}
.desig-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
.desig-menu{
    width: 100%;
    max-height: 400px;
    overflow: auto;
    background-color: white;
    z-index: 1002;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.desig-menu-add-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    padding: 5px 10px;
    gap: 3px;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
}
.desig-menu-add-code{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background-color: rgba(84, 92, 180, 0.05);
}
.desig-menu-add-code-btn{
    padding: 5px 0px;
    cursor: pointer;
}

.code-container{
    display: flex;
    flex-direction: column;
    padding: 10px 3px;
    margin-top: 5px;
}
.code-div{
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.3fr;
    padding: 5px 0px;
    font-family: "Inter", serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.code-div:last-child{
    border-bottom: none;
}
.code-div-code,.code-div-codeVal{
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.code-div > button{
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.2s linear transform;
}
.code-div > button:hover{
    transform: scale(1.1);
}
/* ------------- */
#main-table{
    display:flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}
#main-table > thead{

}
.main-table-body{


}
#main-table > table{
    width: calc(90%);
    table-layout: fixed;
    border-collapse: collapse;
    font-family: "Inter", serif;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin-bottom: 20px;
}

#main-table > table thead{
   
}
#main-table > table thead th{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-left: none;
    border-top: none;
    font-size: 1.1rem;
    padding: 10px 0px;
    color: rgb(55, 55, 55);
 
    user-select: none;
}
#main-table > table thead th:last-child{
    border-right: none;
}
/* table body */

.table-entry-row, .table-entry-edit-row{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.1s linear;
}


.table-entry-row:last-child{
    border-bottom: none;
 
  }
.table-entry-row:nth-child(even){
    background-color: rgba(11, 0, 161, 0.02);
}
.table-entry-cell{
    padding: 15px 0px;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}
.table-entry-cell-desig{

    display: grid;
    grid-template-columns: 1fr 4.5fr;
}
.table-entry-row:hover{
    background-color: rgb(236, 236, 238);

}
.edit-icon, .edit-icons-div svg{
    opacity: 0.7;
    transform: scale(1);
}
.edit-icons-div svg{
    cursor: pointer;
    transition: all 0.1s linear;
}
.edit-icons-div > button{
    border: none;
    background: none;
}
.edit-icons-div svg:hover{
    transform: scale(1.2);
}
.edit-icon{
    position: absolute;
    left: -20%;
    top: 35%;
    opacity: 0.4;
}
.edit-icons-div{
    position: absolute;
    right: -15%;
    top: 0%;
    display: flex;
    flex-direction: column;
    gap: 1px;
    
}
/* table head */
.table-head-date{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.table-head-date > div:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
}

.table-head-date > button{
    position: absolute;
    border: none;
    background: none;
    cursor: pointer;
    right: 3px;
    transition: all 0.12s linear;
    padding: 5px;
}
.table-head-date > button:hover{
    transform: scale(1.2);
    background-color: rgba(0, 1, 75, 0.112);
    border-radius: 100px;
}
.table-head-desig{
    position: relative;
    padding: 0px;

}

.table-desig-text{
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: 0.12s linear;
}
.table-desig-text:hover{
    background-color: rgba(0, 0, 0, 0.078);
}
.table-head-date svg{
    padding-top: 5px;
}

#table-desig-menu-cont{
    position: absolute;
    width: 100%;
    z-index: 1000;
    top: 100%;
   
}
.table-desig-menu-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

}
.table-desig-menu{
    position: relative;
    width: 130%;
    left: -15%;
    top: -10px;
    z-index: 1002 !important;
    display: flex;
    flex-direction: column;
    background-color: #eceff1;
    border: 1px solid rgba(0, 0, 0, 0.262);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 0px 0px 5px 5px;
}
.no-desig-table{
    padding: 30px 0px;

}

.table-desig-list-div{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    padding: 15px 0px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.087);
    font-size: 1rem;
    font-family: "Roboto", serif;
}
.table-desig-list-div > div:first-child{
    border-right: 1px solid rgba(0, 0, 0, 0.339);
}
.table-desig-list-div > div:nth-child(2){
    border-right: 1px solid rgba(0, 0, 0, 0.339);
}
.table-desig-list-div:last-child{
    border: none;
}
.table-desig-list-div:hover{
    background-color: rgba(0, 0, 0, 0.036);
}
.th-filter-num{
    font-size: 0.8rem;
    position: absolute;
    right: 2%;
    top: 32%;
}

.th-filter-num > button{
    border: 1px solid rgba(0, 0, 0, 0.3);
    opacity: 0.8;
    border-radius: 3px;
    padding: 1px 3px;
    background: none;
    cursor: pointer;
    background-color: white;
}
.th-filter-num > button:hover{
    opacity: 1;
}
#main-table tfoot{
    background-color: rgba(0, 0, 0, 0.036);
}
#main-table tfoot tr{
border-top: 2px solid rgba(0, 0, 0, 0.3);
}
#main-table tfoot tr td{
    padding: 20px 0px;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.filled-tfoot:nth-child(3){
    border-left: 1px solid rgba(0, 0, 0, 0.3);


}
.filled-tfoot{
    border-right: 1px solid rgba(0, 0, 0, 0.3);

}
/*  */
.delete-entry-dialog{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
 
}
.delete-entry-dialog > p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    color: rgb(125, 0, 0);
}
#delete-preview-table{
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
#delete-preview-table th{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.delete-entry-dialog > button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 3px 0px;
    font-size: 1rem;
    cursor: pointer;
}

.circular-progress-table{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 100000;
    background-color: rgba(0, 0, 0, 0.065);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}

#edit-backdrop-warning, #edit-backdrop-error{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-backdrop-warning-cont{
    width: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.edit-backdrop-warning-cont > div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}
.edit-backdrop-warning-cont > div > button{
    padding: 5px 10px;
    font-family: "Roboto", serif;
    font-size: 0.9rem;
}
